<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
  <h1 class="title">Keyhole Energy Absorptance Prediction</h1>

  <div class="result"> 
    {{prediction_text}}
  </div>
   

  <div class="left-section">
    <span style="margin-bottom: 10px;">Use the ConvNeXt-T Deep Learning Model:</span>
    <br>
    <br>
    <!-- Main Input For Receiving Image to our ML -->
    <form action="{{ url_for('dl_predict') }}"method="post" enctype="multipart/form-data">
      <input type="file" name="image" accept=".tif">
      <button type="submit" class="btn btn-primary btn-block btn-large">Upload and Predict</button>
    </form>
  <br>
  <br>
  <p class="text-left-align">Image requirements:
    <ul class="text-left-align">
      <li>Image format: a tiff image with the file name ends with "tif", for example, "test.tif"</li>
      <li>Image size: image has to be 350x350 pixels or smaller</li>
      <li>Make sure the keyhole (vapor depression) is roughly at the center of your image</li>
    </ul>
   </p>
   
  </div> 

 <div class="right-section">
     <!-- Main Input For Receiving Query to our ML -->
    <span style="margin-bottom: 10px;">Use the Random Forest Model:</span>
    <br>
    <br>
    <form action="{{ url_for('rf_predict')}}"method="post">
      <input type="text" name="interview_score3" placeholder="Keyhole Depth (µm)" required="required" /><br>
    	<input type="text" name="experience" placeholder="Keyhole Width at Half Depth (µm)" required="required" /><br>
      <input type="text" name="test_score" placeholder="Keyhole Area (µm&sup2)" required="required" /><br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
   <p>Inputs:
    <ul>
      <li>Inputs have to be numbers</li>
      <li>Keyhole aspect ratio will be calculated for you using the provided depth and width values, so you do not need to privide an aspect ratio
    </ul>
   </p>
   
 </div>

 <div class="footnote"> 
  Both models were trained on absorptance data acquired on Ti-6Al-4V without a powder layer. <br>
  To use the ConvNeXt-T fine tuned on powder data, checkout the model release part. <br>
  We advise you to treat the model's predictions with caution when testing it on a different material.<br>
</div>
 
</body>
</html>